<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.petronas.dsg.mock.Application">
         </run>
      </application>
   </extension>
   <extension 
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.petronas.dsg.mock.Perspective"
            name="Perspective"
            id="com.petronas.dsg.mock.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.petronas.dsg.mock.View"
            id="com.petronas.dsg.mock.view"
            name="Seismic List"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.petronas.dsg.mock.SeismicView"
            id="com.petronas.dsg.mock.seismicview"
            name="Seismic View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               closeable="false"
               id="com.petronas.dsg.mock.view"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               standalone="true">
         </view>
         <view
               closeable="false"
               id="com.petronas.dsg.mock.seismicview"
               minimized="false"
               ratio="0.5f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=com.petronas.dsg.menus.mainMenu">
         <menu
               label="File">
            <command
                  commandId="com.petronas.dsg.mock.open"
                  label="Open"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.petronas.dsg.mock.view">
         <command
               commandId="com.petronas.dsg.mock.viewseismic"
               label="View"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">      
      <handler
            class="com.petronas.dsg.mock.ViewHandler"
            commandId="com.petronas.dsg.mock.viewseismic">
      </handler>
      <handler
            class="com.petronas.dsg.mock.MenuHandler"
            commandId="com.petronas.dsg.mock.open">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.petronas.dsg.mock.viewseismic"
            name="View">
      </command>
      <command
            id="com.petronas.dsg.mock.open"
            name="Open">
      </command>
   </extension>

</plugin>
