<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.handlers">
		<handler class="com.petronas.dip.dsg.MenuHandler" commandId="com.petronas.dip.menu">
			<activeWhen>
				<not>
					<with variable="activePartId">
						<equals value="com.petronas.dsg.mock.view"></equals>
					</with>
				</not>
			</activeWhen>
		</handler>
		<handler class="com.petronas.dip.dsg.MenuHandler" commandId="com.petronas.dip.popup">
			<activeWhen>
				<with variable="activeMenuSelection">
					<iterate ifEmpty="false" operator="or">
						<adapt type="com.lgc.dsaf.data.app.DspDataObject"></adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
	</extension>
</plugin>